body {
  font-family: 'Lato', sans-serif;
}

.body-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-size: 1.2em;
}

.body-wrapper p {
  line-height: 145%;
}

ul.profile-nav { 
  list-style:none; 
  margin:0; 
  padding:0; 
  text-align: right;
}

ul.profile-nav li { 
  display:inline;
  margin: 10px 30px 0 0;
  font-size: 0.8em;
}

ul.social-links { 
  list-style:none; 
  margin:0; 
  padding:0; 
}

ul.social-links li { 
  display:inline;
  margin: 10px 30px 0 0;
}

.profile-photo {
  border:1px solid #111;
  width:250px;
  height:250px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin:30px 0;
  float:right;
}
@media screen and (max-width: 600px) {
  .profile-photo {
    float:none;
  }
ul.social-links li { 
  display:inline;
  margin: 10px 30px 15px 0;
}

}

footer {
  font-size: .67em;
  text-align: center;
}

/* instagram style */
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } 
.ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
